.food-list-item {
    width: 200px;
    border: 2px solid #D0DEDB;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D0DEDB;
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 13px;
    overflow: hidden;
}

.food-list-item:hover {
    background-color: #e0e0e0; 
    transform: scale(1.05);
}

.food-list-item:active {
    background-color: #d0d0d0; 
    transform: scale(0.98); 
}
.catagory-name{
    font-weight: bold;
    font-size: 36px;
    color: #313131;
    text-wrap: auto;
    z-index: 2;
    position: relative;
}
.items{
    color: #636363;
    font-size: medium;
}
.active{
    background-color: #e67c1b;
}
.img{
    position: absolute;
    top: 0;
    width: 132px;
    right: -53px;
    z-index: 0;
}