.ag-theme-alpine {
    --ag-background-color: #ffffff;
    --ag-border-color: #dcdcdc;
    --ag-header-background-color: #f4f4f4;
    --ag-header-foreground-color: #000000;
    --ag-row-hover-color: #e0e0e0;
  }
  