<div>
    <button (click)="toggleWebcam()">Toggle Webcam</button>
    <button (click)="captureImage('signup')">Sign Up</button>
    <button (click)="captureImage('login')">Login</button>
    <button (click)="captureImage('logout')">Logout</button>
  </div>
  <input type="text" [(ngModel)]="user">
  <!-- <ngx-webcam [height]="500" [width]="500"  *ngIf="showWebcam" [trigger]="trigger" (imageCapture)="handleImage($event)"></ngx-webcam> -->

  <webcam [height]="500" [width]="500" [trigger]="trigger" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="true"  [videoOptions]="videoOptions" 
		 ></webcam>

  <div *ngIf="webcamImage">
    <h2>Captured Image:</h2>
    <img [src]="webcamImage.imageAsDataUrl" />
  </div>
  