<div class="container-kds">
  <div class="color-code-container">
    <ul class="color_code">
      <li class="codor-code-list">
        <div class="color-code-symbole-veg"></div>
        <p>Order Ready</p>
      </li>
      <li class="codor-code-list">
        <div class="color-code-symbole-non-veg"></div>
        <p>Cooking</p>
      </li>
      <li class="codor-code-list">
        <div class="color-code-symbole-soup"></div>
        <p>On Hold</p>
      </li>
    </ul>
  </div>
  <div class="menu-container loadingC" *ngIf="data.length == 0">
    <img src="../../../assets/Group 51.png" alt="" srcset="" width="15%" height="35%">
  </div>
  <div class="order-list-container" *ngIf="data.length != 0">
    <div class="colum" *ngFor="let item of data">
      <div class="header">
        <p>Table No.:{{item.tableNo}}</p>
      </div>
      <div class="body">
        <div class="card" [ngClass]="subItem.status=='on hold'?'white':subItem.status=='working'?'yellow':'green'" *ngFor="let subItem of item.ordersList">
          <p class="time-status">{{getTimeStatus(subItem.updatedAt)}}</p>
          <div class="card-info">
            <p>{{subItem.foodItemName}}</p>
            <p>{{subItem.quantity}}</p>
          </div>
          <div class="note-div" *ngIf="subItem.orderNote!=''">
            <p class="note">{{subItem.orderNote}}</p>
          </div>
          <div class="btns">
            <button *ngIf="subItem.status=='on hold'" class="btn" (click)="statusUpdate(item.tableNo,subItem.foodItemId,'working',subItem.createdAt)">Start cooking..</button>
            <button *ngIf="subItem.status=='working'" class="btn" (click)="statusUpdate(item.tableNo,subItem.foodItemId,'ready',subItem.createdAt)">Ready</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>