<div class="sidebar">
    <div class="sidebar-header">
      <img src="../../../assets/logo2.png" width="100%" height="100%" alt="">
    </div>
    <ul class="sidebar-menu">
      <li routerLink="/tables" routerLinkActive="active">
        <img src="../../../assets/tables.png" width="100%" height="100%" alt="">
      </li>
      <!-- <li routerLink="/menu" routerLinkActive="active">
        <img src="../../../assets/dining.png"  width="100%" height="100%" alt="" srcset="">
      </li> -->
      <li routerLink="/kds" routerLinkActive="active">
        <img src="../../../assets/kitchen.png" width="100%" height="100%" alt="" srcset="">
      </li>
    </ul>
  </div>
  