<div class="sidebar">
  <div class="sidebar-header">
    <img src="../../../assets/logo2.png" width="100%" height="100%" alt="">
  </div>
  <ul class="sidebar-menu">
    <li *ngIf="hasAnyRole(['counter','admin'])" routerLink="/tables" routerLinkActive="active" (click)="sounds()" title="Dining Table">
      <img src="../../../assets/tables.png" width="100%" height="100%" alt="">
    </li>
    <li *ngIf="hasAnyRole(['kds', 'admin'])" routerLink="/kds" routerLinkActive="active" (click)="sounds()" title="KDS section">
      <img src="../../../assets/kitchen.png" width="100%" height="100%" alt="" srcset="">
    </li>
    <li *ngIf="hasAnyRole(['admin'])"  routerLink="/dashboard" routerLinkActive="active" (click)="sounds()" title="Admin Title">
      <img src="../../../assets/dashboard.png" width="100%" height="100%" alt="" srcset="">
    </li>
    <li *ngIf="hasAnyRole(['counter','admin'])"  (click)="openModalR()" routerLinkActive="active" title="Reservation section">
      <img src="../../../assets/reservation.png" width="100%" height="100%" alt="" srcset="">
    </li>
    <li (click)="openModal()" routerLinkActive="active" title="User login">
      <img src="../../../assets/user.png" width="100%" height="100%" alt="" srcset="">
    </li>
  </ul>
</div>
<section>
  <app-custom-modal *ngIf="isModalOpen" [title]="'My Custom Modal'" (closeModal)="closeModal()">
    <p><app-pin-entry></app-pin-entry></p>
  </app-custom-modal>
</section>
<section>
  <app-custom-modal *ngIf="isModalOpenR" [title]="'My Custom Modal'" (closeModal)="closeModalR()">
    <p><app-reservation-table></app-reservation-table></p>
  </app-custom-modal>
</section>