<div class="customer-name">
  <label for="customerName">Customer Name:</label>
  <div class="wapper">
    <input type="text" id="customerName" [(ngModel)]="billingData.customerName" >
    <button class="savebtn" (click)="addCustomerName(billingData)"><img src="../../../assets/savebtn.png" alt="" srcset="" width="100%" height="100%"></button>
  </div>
</div>
<div class="tabelNO-NoOrder">
  <p>Table No.:{{tableNo}}</p>
  <p>Total orders:{{billingData?.ordersList?.length || 0}}</p>
</div>
<div class="card-header">
  <p class="header-item">Name</p>
  <p class="header-item">Quantity</p>
  <p class="header-item">Price</p>
</div>
<div class="color-code-container">
  <ul class="color_code">
    <li class="codor-code-list btnpointer" [ngClass]="{'active-status': typestatus == 'ready'}" (click)="sortingData('ready')">
      <div class="color-code-symbole-veg"></div>
      <p>Order Ready</p>
    </li>
    <li class="codor-code-list btnpointer" [ngClass]="{'active-status': typestatus == 'working'}" (click)="sortingData('working')">
      <div class="color-code-symbole-non-veg"></div>
      <p>Cooking</p>
    </li>
    <li class="codor-code-list btnpointer" [ngClass]="{'active-status': typestatus == 'on hold'}" (click)="sortingData('on hold')">
      <div class="color-code-symbole-soup"></div>
      <p>On Hold</p>
    </li>
  </ul>
</div>
<div class="card-body" *ngIf="billingData?.length!=0">
  <div class="card-item" [ngStyle]="getStyles(data.type, data.status)" *ngFor="let data of billingData?.ordersList | sortByDate">
    <div class="top">
      <div class="img">
        <img src={{data.img}} alt="Item Image">
      </div>
      <div class="item-details">
        <p class="item-name">{{data?.foodItemName}}</p>
        <p class="item-price">Price: {{data?.itemPrice | currency:'INR':'symbol':'1.2-2':'en-IN'}}</p>
      </div>
      <div class="qty-price-wapper">
        <div class="qty-container">
          <button [disabled]="data.quantity == 1 || data.status != 'on hold'"  [class]="data.quantity == 1?'btnno-drop btnqty':'btnpointer btnqty'"
            (click)="update(data,data.quantity-1)">-</button>
          <p class="qty">{{data.quantity}}</p>
          <button class="btnqty btnpointer" [disabled]="data.status != 'on hold'" [class]="data.status != 'on hold'?'btnno-drop btnqty':'btnpointer btnqty'" (click)="update(data,data.quantity+1)">+</button>
        </div>
        <div class="price">
          {{data?.quantityWithPrice | currency:'INR':'symbol':'1.2-2':'en-IN' }}
        </div>
      </div>
    </div>
    <div class="bottom">
      <input type="text" class="note" [(ngModel)]="data.orderNote" placeholder="Add a note..."   [disabled]="data.status != 'on hold'" >
      <button class="savebtn" (click)="addNote(data)"  [disabled]="data.status != 'on hold'" [class]="data.status != 'on hold'?'btnno-drop ':'btnpointer '"><img src="../../../assets/savebtn.png" alt="" srcset="" width="100%" height="100%"></button>
      <button class="delete-button"  [disabled]="data.status != 'on hold'" [class]="data.status != 'on hold'?'btnno-drop ':'btnpointer '" (click)="removeItem(data)"><img src="../../../assets/delete.png" alt="" title="delete" srcset="" width="100%" height="100%"></button>
    </div>
  </div>
</div>
<div *ngIf="billingData?.length==0" class="empty-order">
  <p>
    <img src="../../../assets/Group 51.png" alt="" srcset="">
  </p>
</div>
<!-- drawor -->
<div class="drawor" [ngClass]="{'expanded': isExpanded}" *ngIf="billingData?.length!=0">
  <div class="btn-c">
    <button  class="toggle-btn " (click)="toggle()"><img
        [src]="isExpanded?'.././../../assets/down-arrow.png':'.././../../assets/up-arrow.png'" alt="" srcset=""
        width="100%" height="100%"></button>
  </div>
  <div class="billing-total">
    <h3>Total: </h3>
    <h3>{{billingData?.totalPrice | currency:'INR':'symbol':'1.2-2':'en-IN'}}</h3>
  </div>
  <div class="billing-total">
    <h3>Discount:</h3>
    <div class="discount-section">
      <p><input class="qty" type="number" [(ngModel)]="billingData.discountPercent"
          (change)="updateDiscount(billingData)">%= </p>
      <p>{{billingData?.afterDiscountPrice | currency:'INR':'symbol':'1.2-2':'en-IN'}}</p>
    </div>
  </div>
  <hr>
  <div class="billing-pay mb">
    <button [disabled]="billingData.kotStatus!=null" [class]="billingData.kotStatus!=null?'btnno-drop':'btnpointer'"
      (click)="confirmorder(billingData)">kot</button>
  </div>
  <div class="payment-c">
    <h4 class="payment-lable">Payment Type</h4>
    <div class="payment-list-c">
      <div class="food-list-item"  [ngClass]="{'active': billingData.paymentType === 'Cash'}" (click)="paymentType('Cash')">Cash</div>
      <div class="food-list-item"  [ngClass]="{'active': billingData.paymentType === 'Card'}" (click)="paymentType('Card')">Card</div>
      <div class="food-list-item"  [ngClass]="{'active': billingData.paymentType === 'Due'}" (click)="paymentType('Due')">Due</div>
      <div class="food-list-item"  [ngClass]="{'active': billingData.paymentType === 'Online'}" (click)="paymentType('Online')">Online</div>
    </div>
  </div>
  <hr>
  <div class="pay-ammount-c">
    <div class="pay-field">
      <h5 class="pay-field-lable">Customer pay amount</h5>
      <input class="input-amount" type="number" [(ngModel)]="customerAmmount" (keyup)="ammount(customerAmmount)">
    </div>-
    <div class="pay-field">
      <h5 class="pay-field-lable"> Totale amount</h5>
      <input class="input-amount" type="number" [(ngModel)]="billingData.afterDiscountPrice">
    </div>=
    <div class="pay-field">
      <h5 class="pay-field-lable">Remaing pay amount</h5>
      <input class="input-amount" type="number" [(ngModel)]="remaingAmmount">
    </div>
  </div>
  <hr>
  <div class="NOP-container">
    <label for="#" class="label">No. of Peoples</label>
    <input class="input-amount" type="number"  [(ngModel)]="billingData.customerNo" (change)="addCustomerNumber(billingData)">
  </div>
  <hr>
  <div class="billing-pay">
    <button (click)="printPage()">Print</button>
    <button [ngClass]="billingData.paymentType==null?'orderDisable':''" (click)="changeOrderStatus()">Order Finished </button>
  </div>
</div>